<%= form_with(model: member_role, html: { onsubmit: "return confirm('Are you sure you want to proceed?');" }) do |form| %>
  <div class="d-flex align-items-center vh-100" style="background-image: url(<%= asset_path 'tamu_stock3.jpg' %>); background-size: cover; padding: 5%">
    <div class="card mx-auto" style="width: 35rem;">
      <div class="card-header">
        <%= link_to("Back to List", member_roles_path, :class => 'back-link') %>
        <h1 style="text-align: center">Edit Member's Role</h1>

        <% if member_role.errors.any? %>
          <div style="color: red; text-align: center">
              <% member_role.errors.each do |error| %>
                <div>
                  <%= error.full_message %>
                </div>
              <% end %>
          </div>
        <% end %> 
        
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= form.label :first_name, 'First Name', class: 'form-label' %>
            <%= form.text_field :first_name, value: member_role.member.first_name, readonly: true, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <%= form.label :last_name, 'Last Name', class: 'form-label' %>
            <%= form.text_field :last_name, value: member_role.member.last_name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= form.label :position, 'Position', class: 'form-label' %>
            <%= form.text_field :position, value: member_role.member.position, readonly: true, class: 'form-control' %>
          </div>

          <div class="col-md-6 mb-3">
            <%= form.label :role_id, 'Role', class: 'form-label required' %>
            <%= form.collection_select :role_id, Role.all, :id, :name, {}, { class: 'form-control' } %>
          </div>
        </div>
        
        <%= form.submit "Update Member's Role", class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
<% end %>
