<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <a href="<%= @calendar_link.google_url %>">Add to Google Calendar</a>
    <br>
    <h2 style="margin-bottom:0"><%= @event.name %></h2>
    <p style="margin-top:0">
        <strong><%= @event.category %></strong>
        <br>
        <% if @event.description %>
        <strong>Description: </strong><%= @event.description %>
        <br>
        <% end %>
        <% if @event.contact_info %>
        <strong>Contact Info: </strong><%= @event.contact_info %>
        <br>
        <% end %>
        <strong>Date: </strong><%= @event.date.strftime('%m/%d') %>
        <br>
        <strong>Time: </strong><%= @event.start_time.strftime('%I:%M %p') %> - <%= @event.end_time.strftime('%I:%M %p') %>
        <br>
        <strong>Location: </strong><%= @event.location %>
        <br>
        <strong>Capacity: </strong><%= @event.capacity || 'No Limit' %>
        <br>
        <strong>Points: </strong><%= @event.points %>

        <a href="https://asgsa-application-47c548b63283.herokuapp.com">Website Link</a>
    </p>
</body>
</html>