<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex align-items-center vh-100" style="background-image: url(<%= asset_path 'tamu_stock5.jpg' %>); background-size: cover;">
      <div class="card mx-auto" style="width: 40rem;">
          <div class="card-header">
            <% if notification.new_record? %>
              <h1>New Notification</h1>
            <% else %>
              <h1>Edit Notification</h1>
            <% end %>
            <%= link_to("Back to List", notifications_path, :class => 'back-link') %>
          </div>

          <div class="card-body">
            <div class="mb-3">
              <%= form.label :title, 'Title', class: 'form-label' %>
              <%= form.text_field :title, required: true, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :description, 'Description', class: 'form-label' %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :event, 'Event', class: 'form-label' %>
            <div class="row">
              <div class="col-md-4 mb-3">
                <%= form.select :event_id, options_for_select(Event.all.map{|e|[e.name, e.id]}, selected: notification.event_id || nil), {include_blank: true}, {class: 'form-control'} %>
              </div>

              <div class="md-6 mb-3"
                <p class="card-text"> *Leave blank if you don't want to link an event </p> 
              </div>
            </div>
            </div>

            <% if notification.new_record? %>
              <div class="form-check mb-3">
                <%= radio_button_tag :send_email, 'all', false, class: 'form-check-input' %>
                <%= label_tag :send_email_all, 'Send email to all members', class: 'form-check-label' %>
              </div>
      
              
              <div class="form-check mb-3">
              <%= radio_button_tag :send_email, 'members', false, class: 'form-check-input' %>
              <%= label_tag :send_email_members, 'Send email to members only', class: 'form-check-label' %>
              </div>
              
              <div class="form-check mb-3">
                <%= radio_button_tag :send_email, 'officers', false, class: 'form-check-input' %>
                <%= label_tag :send_email_officers, 'Send email to officers only', class: 'form-check-label' %>
              </div>
              
              <div class="form-check mb-3">
                <%= radio_button_tag :send_email, 'none', true, class: 'form-check-input' %>
                <%= label_tag :send_email_members, 'Send in app notification only', class: 'form-check-label' %>
              </div>

              <%= form.hidden_field :date, :value => Date.today %>
              
            <% end %>

            <div class="mb-3" id="fileUpload" style="display: none;">
              <%= form.label :attachment, 'Upload File (optional)', class: 'form-label' %>
              <%= form.file_field :attachment, accept: 'image/jpeg, image/png, image/jpeg, application/pdf', class: 'form-control', id: 'fileInput' %>
              <p style="color: red;">.jpg, .jpeg, .png, or .pdf only</p>
            </div>

            <div id="filePreviewModal" class="modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body" style="width: 100%; height: 100%;">
                    <img id="filePreview" class="img-fluid" src="#" alt="File Preview">
                  </div>
                </div>
              </div>
            </div>
              <% if notification.new_record? %>
                <%= form.submit 'Send Notification', class: 'btn btn-primary'%>
              <% else %>
                <%= form.submit 'Edit Notification', class: 'btn btn-primary'%>
              <% end %>
          </div>
      </div>
  </div>
  <script>
      $(document).ready(function() {
        $('input[name="send_email"]').change(function() {
          if ($(this).val() === 'none') {
            $('#fileUpload').hide();
          } else {
            $('#fileUpload').show();
          }
        });

        $('#fileInput').change(function() {
          var reader = new FileReader();

          reader.onload = function(e) {
            $('#filePreview').attr('src', e.target.result);
            $('#filePreviewModal').modal('show');
          }

          reader.readAsDataURL(this.files[0]);
        });

        $('#filePreviewModal .close').click(function() {
          $('#filePreviewModal').modal('hide');
        });
      });
    </script>
<% end %>