<!DOCTYPE html>
<html>
  <head>
    <title>AsgsaApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= favicon_link_tag 'ASGSA_logo-2.jpg', type: "image/jpg" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <div>
      <% if flash.any? %>
        <% flash.each do |key, value| -%>
          <% key = 'warning' if key == 'alert' %>
          <% key = 'success' if key == 'notice' %>
          <div class="toast text-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: absolute; top: 13%; right: 1%; z-index: 1050;">
            <div class="toast-header bg-<%= key %> text-white">
              <strong class="mr-auto">Notification</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body bg-<%= key %>-light text-dark">
              <%= value.html_safe %>
            </div>
          </div>
        <% end -%>
      <% end %>
    </div>
    <nav class="navbar navbar-expand-xl navbar-custom" style="padding: 20px;">
      <% if member_signed_in? && current_member.profile_completed == false %>
        <div class="toast text-dark" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 120%; right: 1%; z-index: 1050;" id="special">
          <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Notification</strong>
          </div>
          <div class="toast-body bg-danger-light text-dark">
            Finish setting up your profile<br>
            <%= link_to "Go to Profile", edit_member_path(current_member) %>
          </div>
        </div>
      <% end %>
      <%= link_to image_tag("asgsa_logo2.jpg", alt: "ASGSA TAMU", class: 'navbar-brand'), root_path %>
      <div style="color: white; font-size: 18px; font-family: Georgia;">
        Animal Science Graduate Student Association
      </div>
      <% if member_signed_in? && !policy(current_member).approved? %>
        <div class="alert alert-warning" role="alert" style="margin-right: 5%; padding: 1vw; font-size: max(16px, 1vw);">
          Your account is pending approval. Once approved, you will receive an email notification and be able to access the website.
        </div>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <%= image_tag "hamburger_icon.png" %>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Members', members_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Events', events_path, class: 'nav-link' %></li>
          <% if member_signed_in? && policy(current_member).admin_officer? %>
           <li class="nav-item"><%= link_to 'Notifications', notifications_path, class: 'nav-link' %></li>
           <li class="nav-item"><%= link_to 'Approval System', approval_member_roles_path, class: 'nav-link' %></li>
          <% end %>
          <% if member_signed_in? && policy(current_member).admin? %>
            <li class="nav-item"><%= link_to "Role Management", member_roles_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Email Settings', emails_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if member_signed_in? %>
            <li class="nav-item nav-item-flex">
              <%= link_to member_notifications_path, class: 'nav-link' do %>
                <i class="fa fa-bell"></i>
                <% notifications_count = current_member.unseen_notifications_count %>
                <% if notifications_count > 0 %>
                  <span class="badge badge-danger"><%= notifications_count %></span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <input type="checkbox" id="profileDropdownCheck" class="dropdown-toggle-check">
              <label for="profileDropdownCheck" class="nav-link dropdown-toggle" id="profileDropdown">
                <% if current_member.avatar_url.present? %>
                  <%= image_tag(current_member.avatar_url, alt: current_member.first_name, class: 'profile-icon') %>
                <% else %>
                  <%= image_tag('default_avatar.jpeg', alt: 'Default Avatar', class: 'profile-icon2') %>
                <% end %>
              </label>
              <div class="dropdown-menu" aria-labelledby="profileDropdown" style="min-width: fit-content; z-index: 1051;">
                <%= link_to 'View Profile', member_path(current_member), class: 'dropdown-item' %>
                <%= link_to 'Sign Out', destroy_member_session_path, class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <%= button_to member_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary', style: 'color: #500000; background-color: white; border-color: white;' do %>
              <i class="fab fa-google"></i> Sign in with Google
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div>
      <%= yield %>
    </div>

    <% unless action_name == 'edit' || (action_name == 'show' && (controller_name == 'members' || controller_name == 'events' || controller_name == 'attendees' || controller_name == 'notifications')) || (action_name == 'new' && (controller_name == 'members' || controller_name == 'events' || controller_name == 'attendees' || controller_name == 'notifications')) || (action_name == 'index' && controller_name == 'notifications') || action_name == 'delete_confirmation' %>
      <div class="footer" style="margin-top: 0">
        <div class="flex-row">
          <div class="col-md-4" style="height: fit-content">
            <h2 class="display-4" style="font-size: 2.5vw; font-style: italic;">Connect With Us</h1>
            <div class="social-icons">
              <%= link_to "https://www.instagram.com/asgsa.tamu", target: "_blank", style: "color: white; text-decoration: none;" do %>
                <i class="fa-brands fa-instagram fa-xl"></i> - @asgsa.tamu
              <% end %>
              <br>
              <%= link_to "https://www.facebook.com/tamuasgsa", target: "_blank", style: "color: white; text-decoration: none" do %>
                <i class="fa-brands fa-facebook fa-xl"></i> - Texas A&M Animal Science Graduate Student Association
              <% end %>
              <br>
              <%= link_to "https://twitter.com/TAMU_ASGSA_", target: "_blank", style: "color: white; text-decoration: none" do %>
                <i class="fa-brands fa-x-twitter fa-xl"></i> - @TAMU_ASGSA_
              <% end %>
              <br>
              <%= link_to "mailto:asgsa@ag.tamu.edu", target: "_blank", style: "color: white; text-decoration: none" do %>
                <i class="fa-solid fa-envelope fa-xl"></i> - asgsa@ag.tamu.edu
              <% end %>
            </div>
          </div>
          <div class="col-md-4" style="height: fit-content">
            <h2 class="display-4" style="font-size: 2.5vw; font-style: italic;">Active Member Requirements</h2>
            <div class="requirements">
              <i class="fa-regular fa-square-check"></i> Pay membership dues (Fall Semester - by the October club meeting, Spring Semester - by the March club meeting)
              <br><br>
              <i class="fa-regular fa-square-check"></i> Attend no less than 50% of the regular club meetings of their membership period
              <br><br>
              <i class="fa-regular fa-square-check"></i> Participate in at least one philanthropic event and one social event within their membership period
            </div>
          </div>

          <div class="col-md-4" style="height: fit-content">
            <h2 class="display-4" style="font-size: 2.5vw; margin-left: 20%; font-style: italic;">Help</h2>
            <div class="help">
              <% if member_signed_in? && policy(current_member).admin? %>
                <%= link_to faq_admin_path , style: "color: white; text-decoration: none" do %>
                  <i class="fa-solid fa-question fa-xl"></i>  FAQs
                <% end %>
              <% elsif member_signed_in? && policy(current_member).officer? %>
                <%= link_to faq_officer_path , style: "color: white; text-decoration: none" do %>
                  <i class="fa-solid fa-question fa-xl"></i>  FAQs
                <% end %>
              <% else %>
                <%= link_to faq_member_path , style: "color: white; text-decoration: none" do %>
                  <i class="fa-solid fa-question fa-xl"></i>  FAQs
                <% end %>
              <% end %>
              <br>
              <%= link_to help_path, style: "color: white; text-decoration: none" do %>
                <i class="fa-solid fa-address-book fa-xl"></i>  Contact Us
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
      var toastEl = document.getElementById('special');
      if (toastEl) {
        var toast = new bootstrap.Toast(toastEl, {
          autohide: false
        });
        toast.show();
      }
    });
  </script>
</html>